<form>
    <div class="form-group">
        <label>{{label 'Fertigkeitswert'}}</label>
        <input type="text" name="fertigkeitswert" value="{{fertigkeitWert}}" disabled/>
    </div>
    <div class="form-group">
        <label>{{label 'Modifikator'}}</label>
        <input type="text" name="modifikator" value="{{modifikator}}" placeholder="" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{label 'Schwierigkeit'}}</label>
        <input type="text" name="schwierigkeit" value="{{schwierigkeit}}" placeholder="" data-dtype="Number" oninput="schwierigkeit_regler.value=parseInt(schwierigkeit.value)"/>
    </div>
    <div class="form-group">
        <label>&nbsp;</label>
        <input type="range" id="schwierigkeit_regler" value="{{schwierigkeit}}" min="15" max="35" step="5" oninput="schwierigkeit.value=parseInt(schwierigkeit_regler.value)"/>
    </div>
    <div class="form-group">
        <label>{{label 'RollMode'}}</label>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>