<div class="grid grid-2col">

  <table class="markCol4">
    <thead>
      <tr>
        <th>{{localize 'SPLITTERMOND.Label.Attribute'}}</th>
        <th width="10%"></th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.Start'}}</th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.attribute as |attribut key|}}
          <tr>
            <td>{{attribut.name}}</td>
            <td>{{attribut.abk}}</td>
            <td><input type="text" name="data.attribute.{{key}}.start" value="{{attribut.start}}" data-dtype="Number"/></td>
            <td>{{attribut.wert}}</td>
            <td><input type="text" name="data.attribute.{{key}}.mod" value="{{attribut.mod}}" data-dtype="Number"/></td>
          </tr>
      {{/each}}
    </tbody>
  </table>

  <table class="markCol3">
    <thead>
      <tr>
        <th>{{localize 'SPLITTERMOND.Label.AbgeleiteteWerte'}}</th>
        <th width="10%"></th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
        <th width="10%">{{localize 'SPLITTERMOND.Label.temp'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.abgeleiteteWerte as |abgeleiteterWert key|}}
          <tr title="{{abgeleiteterWert.formel}}">
            <td>{{abgeleiteterWert.name}}</td>
            <td>{{abgeleiteterWert.abk}}</td>
            <td>{{abgeleiteterWert.wert}}</td>
            <td>{{abgeleiteterWert.mod}}</td>
            <td>{{abgeleiteterWert.temp}}</td>
          </tr>
      {{/each}}
    </tbody>
  </table>

</div>
