<div>

  <table class="markCol2">
    <thead>
      <tr>
        <th>{{label 'Waffen'}}</th>
        <th width="05%">{{label 'Wert'}}</th>
        <th width="10%">{{label 'Fertigkeit'}}</th>
        <th width="05%">{{label 'Att1'}}</th>
        <th width="05%">{{label 'Att2'}}</th>
        <th width="05%">{{label 'mod'}}</th>
        <th width="05%">{{label 'WGS'}}</th>
        <th width="10%">{{label 'Schaden'}}</th>
        <th width="5%">{{label 'Reichweite'}}</th>
        <th>{{label 'Merkmale'}}</th>
        <th width="10%"><a class="item-control item-add" title="{{label 'Hinzufuegen'}}" data-type="waffe"><i class="fas fa-plus"></i></a></th>
      </tr>
    </thead>
    <tbody class="waffen">
      {{#each actor.waffen as |item key|}}
          <tr class="item waffe {{active item.data.ausgeruestet}}" data-item-id="{{item._id}}">
            <td class="rollable" data-probe="kampffertigkeit" data-fertigkeit="{{item.data.kampffertigkeit.key}}" data-name="{{item.name}}" data-wert="{{item.data.kampffertigkeit.wert}}" data-wgs="{{item.data.wgs.wert}}" data-schaden="{{item.data.schaden.wert}}" data-fp="{{item.data.kampffertigkeit.fp}}">{{item.name}}</td>
            <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.kampffertigkeit.wert}}</td>
            <td>{{loc2 'Kampffertigkeit' item.data.kampffertigkeit.key 'abk'}}</td>
            <td title="{{loc2 'Attribut' item.data.attribut1.key 'abk'}}">{{item.data.attribut1.wert}}</td>
            <td title="{{loc2 'Attribut' item.data.attribut2.key 'abk'}}">{{item.data.attribut2.wert}}</td>
            <td>{{zeroIsDash item.data.kampffertigkeit.mod}}</td>
            <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.wgs.wert}}</td>
            <td>{{item.data.schaden.wert}}</td>
            <td>{{zeroIsDash item.data.reichweite}}</td>
            <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{waffenmerkmal merkmal}}</span>{{/each}}</td>
            <td>
              <a class="item-control item-toggle" title="{{label 'Ausgeruestet'}}"><i class="fas fa-shield-alt"></i></a>
              <a class="item-control item-edit" title="{{label 'Bearbeiten'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{label 'Loeschen'}}"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>

  <table class="markCol2">
    <thead>
      <tr>
        <th>{{label 'Schildstoss'}}</th>
        <th width="05%">{{label 'Wert'}}</th>
        <th width="10%">{{label 'Fertigkeit'}}</th>
        <th width="05%">{{loc 'Attribut.bew.abk'}}</th>
        <th width="05%">{{loc 'Attribut.sta.abk'}}</th>
        <th width="05%">{{label 'mod'}}</th>
        <th width="05%">{{label 'WGS'}}</th>
        <th width="10%">{{label 'Schaden'}}</th>
        <th>{{label 'Merkmale'}}</th>
        <th width="10%"><a class="item-control item-add" title="{{label 'Hinzufuegen'}}" data-type="schild"><i class="fas fa-plus"></i></a></th>
      </tr>
    </thead>
    <tbody class="schilde">
      {{#each actor.schilde as |item key|}}
          <tr class="item schild {{active item.data.ausgeruestet}}" data-item-id="{{item._id}}">
            <td class="rollable" data-probe="kampffertigkeit" data-name="{{item.name}}" data-wert="{{item.data.kampffertigkeit.wert}}" data-wgs="7" data-schaden="1W6+1" data-punkte="{{item.data.kampffertigkeit.fp}}">{{item.name}}</td>
            <td>{{item.data.kampffertigkeit.wert}}</td>
            <td>{{loc2 'Kampffertigkeit' item.data.kampffertigkeit.key 'abk'}}</td>
            <td title="{{loc2 'Attribut' item.data.attribut1.key 'abk'}}">{{item.data.attribut1.wert}}</td>
            <td title="{{loc2 'Attribut' item.data.attribut2.key 'abk'}}">{{item.data.attribut2.wert}}</td>
            <td>{{item.data.kampffertigkeit.mod}}</td>
            <td>7</td>
            <td>1W6+1</td>
            <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{waffenmerkmal merkmal}}</span>{{/each}}</td>
            <td>
              <a class="item-control item-toggle" title="{{label 'Ausgeruestet'}}"><i class="fas fa-shield-alt"></i></a>
              <a class="item-control item-edit" title="{{label 'Bearbeiten'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{label 'Loeschen'}}"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>

</div>
<div class="grid grid-2col-1-3">

  <table>
    <thead>
      <tr>
        <th>{{label 'Kampffertigkeiten'}}</th>
        <th width="10%">{{label 'FP'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.kampffertigkeiten as |kampffertigkeit key|}}
          <tr>
            <td>{{loc2 'Kampffertigkeit' key 'name'}}</td>
            <td><input type="text" name="data.kampffertigkeiten.{{key}}.fp" value="{{zeroIsEmpty kampffertigkeit.fp}}" data-dtype="Number"/></td>
          </tr>
      {{/each}}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>{{label 'Ruestung'}} / {{label 'Schild'}}</th>
        <th width="05%">{{label 'VTDplus'}}</th>
        <th width="10%">{{label 'SR'}}</th>
        <th width="05%">{{label 'Behinderung'}}</th>
        <th width="10%">{{label 'Tickzuschlag'}}</th>
        <th>{{label 'Merkmale'}}</th>
        <th width="10%"><a class="item-control item-add" title="{{label 'Hinzufuegen'}}" data-type="ruestung"><i class="fas fa-plus"></i></a></th>
      </tr>
    </thead>
    <tbody class="ruestungen">
      {{#each actor.ruestungen as |item key|}}
      <tr class="item ruestung {{active item.data.ausgeruestet}}" data-item-id="{{item._id}}">
        <td>{{item.name}}</td>
        <td>{{item.data.vtdPlus}}</td>
        <td>{{item.data.sr.wert}}</td>
        <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.behinderung.wert}}</td>
        <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.tickzuschlag.wert}}</td>
        <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{waffenmerkmal merkmal}}</span>{{/each}}</td>
        <td>
          <a class="item-control item-toggle" title="{{label 'Ausgeruestet'}}"><i class="fas fa-shield-alt"></i></a>
          <a class="item-control item-edit" title="{{label 'Bearbeiten'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="{{label 'Loeschen'}}"><i class="fas fa-trash"></i></a>
    </td>
      </tr>
      {{/each}}
      <tr class="summe">
        <td>{{label 'Summe'}}</td>
        <td>{{data.vtdPlus}}</td>
        <td>{{data.sr}}</td>
        <td>{{data.behinderung}}</td>
        <td>{{data.tickzuschlag}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

