<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

        <div class="header-fields">

            {{!-- Zeile 1 --}}
            <h1 class="charname">
              <input name="name" type="text" value="{{actor.name}}" placeholder="{{label 'Name'}}"/>
            </h1>

            {{!-- Zeile 2 --}}
            <div class="grid grid-2col">
  
              <div class="form-group">
                <label>{{label 'Heldengrad'}}</label>
                <input name="data.hg" type="text" value="{{data.hg}}" data-dtype="Number"/>
              </div>
  
              <div class="form-group">
                <label>{{label 'Rasse'}}</label>
                <select name="data.rasse" value="{{data.rasse}}" data-dtype="String">
                  {{#select data.rasse}}
                  <option value="alb">{{loc 'Rasse.Alb'}}</option>
                  <option value="gnom">{{loc 'Rasse.Gnom'}}</option>
                  <option value="mensch">{{loc 'Rasse.Mensch'}}</option>
                  <option value="varg">{{loc 'Rasse.Varg'}}</option>
                  <option value="zwerg">{{loc 'Rasse.Zwerg'}}</option>
                  {{/select}}
                </select>
              </div>
  
            </div>

        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="grundwerte">{{label 'Grundwerte'}}</a>
      <a class="item" data-tab="fertigkeiten">{{label 'Fertigkeiten'}}</a>
      <a class="item" data-tab="kampf">{{label 'Kampf'}}</a>
      <a class="item" data-tab="zauber">{{label 'Zauber'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Grundwerte Tab --}}
        <div class="tab grundwerte" data-group="primary" data-tab="grundwerte">
          {{> systems/splittermond/templates/actor/tab/grundwerte.html}}
        </div>

        {{!-- Fertigkeiten Tab --}}
        <div class="tab fertigkeiten" data-group="primary" data-tab="fertigkeiten">
          {{> systems/splittermond/templates/actor/tab/fertigkeiten.html}}
        </div>

        {{!-- Kampf Tab --}}
        <div class="tab kampf" data-group="primary" data-tab="kampf">
          {{> systems/splittermond/templates/actor/tab/kampf.html}}
        </div>

        {{!-- Zauber Tab --}}
        <div class="tab zauber" data-group="primary" data-tab="zauber">
          {{> systems/splittermond/templates/actor/tab/zauber.html}}
        </div>

    </section>

  </form>

