<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

        <div class="header-fields">

            {{!-- Zeile 1 --}}
            <h1 class="charname">
              <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SPLITTERMOND.ActorName'}}"/>
            </h1>

            {{!-- Zeile 2 --}}
            <div class="grid grid-2col">
  
              <div class="form-group">
                <label>{{localize 'SPLITTERMOND.Label.Heldengrad'}}</label>
                <input name="data.hg" type="text" value="{{data.hg}}" data-dtype="Number"/>
              </div>
  
              <div class="form-group">
                <label>{{localize 'SPLITTERMOND.Label.Rasse'}}</label>
                <select name="data.rasse" value="{{data.rasse}}" data-dtype="String">
                  {{#select data.rasse}}
                  <option value="alb">{{localize 'SPLITTERMOND.Rasse.Alb'}}</option>
                  <option value="gnom">{{localize 'SPLITTERMOND.Rasse.Gnom'}}</option>
                  <option value="mensch">{{localize 'SPLITTERMOND.Rasse.Mensch'}}</option>
                  <option value="varg">{{localize 'SPLITTERMOND.Rasse.Varg'}}</option>
                  <option value="zwerg">{{localize 'SPLITTERMOND.Rasse.Zwerg'}}</option>
                  {{/select}}
                </select>
              </div>
  
            </div>

        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="grundwerte">{{localize 'SPLITTERMOND.Label.Grundwerte'}}</a>
      <a class="item" data-tab="fertigkeiten">{{localize 'SPLITTERMOND.Label.Fertigkeiten'}}</a>
      <a class="item" data-tab="kampf">{{localize 'SPLITTERMOND.Label.Kampf'}}</a>
      <a class="item" data-tab="zauber">{{localize 'SPLITTERMOND.Label.Zauber'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Grundwerte Tab --}}
        <div class="tab grundwerte" data-group="primary" data-tab="grundwerte">
          <div class="grid grid-2col">

            <table class="markCol4">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Attribute'}}</th>
                  <th width="10%"></th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Start'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.attribute as |attribut key|}}
                    <tr>
                      <td>{{attribut.name}}</td>
                      <td>{{attribut.abk}}</td>
                      <td><input type="text" name="data.attribute.{{key}}.start" value="{{attribut.start}}" data-dtype="Number"/></td>
                      <td>{{attribut.wert}}</td>
                      <td><input type="text" name="data.attribute.{{key}}.mod" value="{{attribut.mod}}" data-dtype="Number"/></td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

            <table class="markCol3">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.AbgeleiteteWerte'}}</th>
                  <th width="10%"></th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.temp'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.abgeleiteteWerte as |abgeleiteterWert key|}}
                    <tr title="{{abgeleiteterWert.formel}}">
                      <td>{{abgeleiteterWert.name}}</td>
                      <td>{{abgeleiteterWert.abk}}</td>
                      <td>{{abgeleiteterWert.wert}}</td>
                      <td>{{abgeleiteterWert.mod}}</td>
                      <td>{{abgeleiteterWert.temp}}</td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
        </div>

        {{!-- Fertigkeiten Tab --}}
        <div class="tab fertigkeiten" data-group="primary" data-tab="fertigkeiten">
          <div class="grid grid-2col">

            <table class="markCol2">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Fertigkeiten'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Punkte'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Att1'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Att2'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.fertigkeiten as |fertigkeit key|}}
                    <tr>
                      <td class="rollable" data-probe="fertigkeit" data-name="{{fertigkeit.name}}" data-wert="{{fertigkeit.wert}}" data-punkte="{{fertigkeit.fp}}">{{fertigkeit.name}}</td>
                      <td>{{fertigkeit.wert}}</td>
                      <td><input type="text" name="data.fertigkeiten.{{key}}.fp" value="{{fertigkeit.fp}}" data-dtype="Number"/></td>
                      <td title="{{fertigkeit.att1.abk}}">{{fertigkeit.att1.wert}}</td>
                      <td title="{{fertigkeit.att2.abk}}">{{fertigkeit.att2.wert}}</td>
                      <td><input type="text" name="data.fertigkeiten.{{key}}.mod" value="{{fertigkeit.mod}}" data-dtype="Number"/></td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

            <div>platzhalter für meisterschaften-tabelle</div>

          </div>
        </div>

        {{!-- Kampf Tab --}}
        <div class="tab kampf" data-group="primary" data-tab="kampf">

          <div>

            <table class="markCol2">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Waffen'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Fertigkeit'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.Att1'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.Att2'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.WGS'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Schaden'}}</th>
                  <th width="5%">{{localize 'SPLITTERMOND.Label.Reichweite'}}</th>
                  <th>{{localize 'SPLITTERMOND.Label.Merkmale'}}</th>
                  <th width="10%"><a class="item-control item-add" title="Waffe hinzufügen" data-type="waffe"><i class="fas fa-plus"></i></a></th>
                </tr>
              </thead>
              <tbody class="waffen">
                {{#each actor.waffen as |item key|}}
                    <tr class="item waffe" data-item-id="{{item._id}}">
                      <td class="rollable" data-probe="kampffertigkeit" data-name="{{item.name}}" data-wert="{{item.data.kampffertigkeit.wert}}" data-wgs="{{item.data.wgs.wert}}" data-schaden="{{item.data.schaden.wert}}" data-punkte="{{item.data.kampffertigkeit.punkte}}">{{item.name}}</td>
                      <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.kampffertigkeit.wert}}</td>
                      <td>{{item.data.kampffertigkeit.abk}}</td>
                      <td title="{{item.data.attribut1.abk}}">{{item.data.attribut1.wert}}</td>
                      <td title="{{item.data.attribut2.abk}}">{{item.data.attribut2.wert}}</td>
                      <td>{{item.data.kampffertigkeit.mod}}</td>
                      <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.wgs.wert}}</td>
                      <td>{{item.data.schaden.wert}}</td>
                      <td>{{zeroIsDash item.data.reichweite}}</td>
                      <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{merkmal.nameStufe}}</span>{{/each}}</td>
                      <td>
                        <a class="item-control item-edit" title="Waffe bearbeiten"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Waffe löschen"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

            <table class="markCol2">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Schildstoss'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Fertigkeit'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Attribut.bew.abk'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Attribut.sta.abk'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.WGS'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Schaden'}}</th>
                  <th>{{localize 'SPLITTERMOND.Label.Merkmale'}}</th>
                  <th width="10%"><a class="item-control item-add" title="Schild hinzufügen" data-type="schild"><i class="fas fa-plus"></i></a></th>
                </tr>
              </thead>
              <tbody class="schilde">
                {{#each actor.schilde as |item key|}}
                    <tr class="item schild" data-item-id="{{item._id}}">
                      <td class="rollable" data-probe="kampffertigkeit" data-name="{{item.name}}" data-wert="{{item.data.kampffertigkeit.wert}}" data-wgs="7" data-schaden="1W6+1" data-punkte="{{item.data.kampffertigkeit.punkte}}">{{item.name}}</td>
                      <td>{{item.data.kampffertigkeit.wert}}</td>
                      <td>{{item.data.kampffertigkeit.abk}}</td>
                      <td title="{{item.data.attribut1.abk}}">{{item.data.attribut1.wert}}</td>
                      <td title="{{item.data.attribut2.abk}}">{{item.data.attribut2.wert}}</td>
                      <td>{{item.data.kampffertigkeit.mod}}</td>
                      <td>7</td>
                      <td>1W6+1</td>
                      <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{merkmal.nameStufe}}</span>{{/each}}</td>
                      <td>
                        <a class="item-control item-edit" title="Schild bearbeiten"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Schild löschen"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
          <div class="grid grid-2col-1-3">

            <table>
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Kampffertigkeiten'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.FP'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.kampffertigkeiten as |kampffertigkeit key|}}
                    <tr>
                      <td>{{kampffertigkeit.name}}</td>
                      <td><input type="text" name="data.kampffertigkeiten.{{key}}.punkte" value="{{kampffertigkeit.punkte}}" data-dtype="Number"/></td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Ruestung'}} / {{localize 'SPLITTERMOND.Label.Schild'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.VTDplus'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.SR'}}</th>
                  <th width="05%">{{localize 'SPLITTERMOND.Label.Behinderung'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Tickzuschlag'}}</th>
                  <th>{{localize 'SPLITTERMOND.Label.Merkmale'}}</th>
                  <th width="10%"><a class="item-control item-add" title="Rüstung hinzufügen" data-type="ruestung"><i class="fas fa-plus"></i></a></th>
                </tr>
              </thead>
              <tbody class="ruestungen">
                {{#each actor.ruestungen as |item key|}}
                <tr class="item ruestung" data-item-id="{{item._id}}">
                  <td>{{item.name}}</td>
                  <td>{{item.data.vtdPlus}}</td>
                  <td>{{item.data.sr.wert}}</td>
                  <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.behinderung.wert}}</td>
                  <td {{#if item.data.minAttributAbzug}}class="malus"{{/if}}>{{item.data.tickzuschlag.wert}}</td>
                  <td>{{#each item.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{merkmal.nameStufe}}</span>{{/each}}</td>
                  <td>
                    <a class="item-control item-edit" title="Rüstung bearbeiten"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Rüstung löschen"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                {{/each}}
                <tr class="summe">
                  <td>{{localize 'SPLITTERMOND.Label.Summe'}}</td>
                  <td>{{data.vtdPlus}}</td>
                  <td>{{data.sr}}</td>
                  <td>{{data.behinderung}}</td>
                  <td>{{data.tickzuschlag}}</td>
                  <td></td>
                  <td></td>
                </tr>
          </tbody>
            </table>

          </div>

        </div>

        {{!-- Zauber Tab --}}
        <div class="tab zauber" data-group="primary" data-tab="zauber">
          <div class="grid grid-2col">

            <table class="markCol2">
              <thead>
                <tr>
                  <th>{{localize 'SPLITTERMOND.Label.Magieschulen'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Wert'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Punkte'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Att1'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.Att2'}}</th>
                  <th width="10%">{{localize 'SPLITTERMOND.Label.mod'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.magieschulen as |magieschule key|}}
                    <tr>
                      <td>{{magieschule.name}}</td>
                      <td>{{magieschule.wert}}</td>
                      <td><input type="text" name="data.magieschulen.{{key}}.fp" value="{{magieschule.fp}}" data-dtype="Number"/></td>
                      <td title="{{magieschule.att1.abk}}">{{magieschule.att1.wert}}</td>
                      <td title="{{magieschule.att2.abk}}">{{magieschule.att2.wert}}</td>
                      <td><input type="text" name="data.magieschulen.{{key}}.mod" value="{{magieschule.mod}}" data-dtype="Number"/></td>
                    </tr>
                {{/each}}
              </tbody>
            </table>

            <div>platzhalter für meisterschaften-tabelle</div>

          </div>
        </div>

    </section>
</form>

