<h1>Rüstungen</h1>
<table class="directory-list ruestungen" data-pack="{{collection}}">
  <thead>
    <tr>
      <th>{{label 'Name'}}</th>
      <th width="10%">{{label 'Verfuegbarkeit'}}</th>
      <th width="10%">{{label 'Preis'}}</th>
      <th width="5%">{{label 'Last'}}</th>
      <th width="5%">{{label 'Haerte'}}</th>
      <th width="10%">{{label 'Komplexitaet'}}</th>
      <th width="5%">{{label 'VTDplus'}}</th>
      <th width="5%">{{label 'SR'}}</th>
      <th width="5%">{{label 'Behinderung'}}</th>
      <th width="10%">{{label 'Tickzuschlag'}}</th>
      <th width="10%">{{label 'Mindestattribut'}}</th>
      <th>{{label 'Merkmale'}}</th>
    </tr>
  </thead>
  <tbody>
  {{#each group}}
    <tr class="directory-item item ruestung" data-entry-id="{{this._id}}">
        <td>{{this.name}}</td>
        <td>{{loc1 'Verfuegbarkeit' this.data.verfuegbarkeit.normal}}</td>
        <td>{{preisFormat this.data.preis.normal}}</td>
        <td>{{zeroIsDash this.data.last.normal}}</td>
        <td>{{zeroIsDash this.data.haerte.normal}}</td>
        <td>{{loc2 'Komplexitaet' this.data.komplexitaet.normal 'abk'}}</td>
        <td>{{this.data.vtdPlus}}</td>
        <td>{{this.data.sr.normal}}</td>
        <td>{{this.data.behinderung.normal}}</td>
        <td>{{this.data.tickzuschlag.normal}}</td>
        <td>{{#if this.data.minAttribut1}}{{loc2 'Attribut' this.data.minAttribut1.key 'abk'}} {{this.data.minAttribut1.wert}}{{else}}-{{/if}}</td>
        <td>{{#each this.data.merkmale as |merkmal key|}}<span class="waffenmerkmal">{{waffenmerkmal merkmal}}</span>{{/each}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>